body {
    padding: 0;
    margin: 0;
    background-color: darkgrey;
}

::-webkit-scrollbar { 
    display: none; 
}

.filter-list {
    margin-top: 20px;
}

.loading-img {
    padding: 50px;
}

.loading-img img {
    height: 200px;
}